<div class="stay-search-filters" [attr.aria-label]="text().stays.filters.searchAriaLabel">
  <div class="search-filter">
    <app-remote-entity-selector
      #catSelector
      [adapter]="catAdapter"
      [label]="text().stays.filters.cat"
      (stateChange)="onCatStateChange($event)"
    />
  </div>

  <div class="search-filter">
    <app-remote-entity-selector
      #ownerSelector
      [adapter]="ownerAdapter"
      [label]="text().stays.filters.owner"
      (stateChange)="onOwnerStateChange($event)"
    />
  </div>
</div>
